/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

nav li a {
	color: black;
	text-decoration: none;
}

nav li a:hover {
	color: #93532F;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	margin: 150px 0;
}

#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters {
	display: flex;
	justify-content: center;
	margin: 60px 0px;
	gap: 10px;
}

.filters button {
	border: solid 1px #1D6154;
	border-radius: 60px;
	background-color: white;
	padding: 10px 25px;
	font-family: 'Syne';
	color: #1D6154;
	font-size: 16px;
	cursor: pointer;
}

.filters button.selected {
	background-color: #1D6154;
	color: white;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
    margin: auto;
}

#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}









/* Page Login */

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#login-container h2 {
    color: #1D6154;
    font-size: 30px;
    margin-bottom: 40px;
	font-weight: lighter;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

#login-form input {
    padding: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 16px;
}

#btn-login {
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 14px;
	font-family: 'Syne';
	font-weight: bold;
	padding: 10px 25px;
    margin: 20px 0 20px 0;
	width: 180px;	
	cursor: pointer;
}

#login-container a {
    text-align: center;
    color: black;
    margin-top: 10px;
}

#login-error {
	color: red;
	font-weight: bold;
}


#edit-mode {
    background-color: black;
	color: white;
    width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-family: 'Work Sans';
}

#modify {
	display: flex;
	border: none;
	background-color: white;
	gap: 10px;
	font-family: 'Work Sans';
	font-size: 14px;
	padding-top: 9px;
	cursor: pointer;
}

.works-header {
	display: flex;
	justify-content: center;
	gap: 25px;
}

.hidden {
    display: none !important;		
}


/* Modales */

#modal-display {
	background:#0000004D;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	z-index: 100;
}

#modal {
	background: white;
	border-radius: 10px;
	padding: 70px;
	width: 630px;
	max-height: 650px;
	position: relative;
}

#modal-gallery h2,
#modal-form h2 {
	text-align: center;
	font-size: 26px;
	font-family: 'Work Sans';
	color: black;
	font-weight: lighter;
}

/* Modale gallerie */

#modal-gallery {
	padding: 0 70px;
}

#modal-works {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
    gap: 10px;
	row-gap: 30px;
	padding: 50px 0;
}

#modal-works figure {
	position: relative;
	margin: 0;
}

#modal-works img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#modal-works button {
    background: none;
	border: none;
	background-color: black;
	border-radius: 2px;
    font-size: 12px;
	position: absolute;
	top: 6px;
	right: 5px;
	cursor: pointer;
	padding: 2px 4px;
}

#close-modal, #close-modal-form {
	position: absolute;
	top: 35px;
	right: 35px;
	border: none;
	background: none;
	font-size: 15px;
	cursor: pointer;
}


#btn-add-photo {
	display: block;
    margin: 40px auto 0px;
    background-color:#1D6154;
	border: none;
	border-radius: 60px;
	padding: 12px 0;
	color: white;
	font-family: 'Syne';
	font-size: 16px;
	width: 55%;
	cursor: pointer;
}

/* Modal formulaire */

#modal-form {
	padding: 0 70px;
}

#back-to-gallery {
	position: absolute;
	top: 25px;
	left: 25px;
	background: none;
	border: none;
	font-size: 22px;
	cursor: pointer;
}

#upload-zone {
	background: #E8F1F6;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	gap: 10px;
	margin-bottom: 35px;
	margin-top: 45px;
}

#upload-zone i {
	font-size: 80px;
}

#upload-zone p {
	font-size: 12px;
}

#upload-zone img {
    max-width: 130px;
	max-height: 170px;
}

#btn-upload {
	background: #CBD6DC;
	border: none;
	border-radius: 50px;
	color: #306685;
	font-size: 16px;
	padding: 10px 40px;
	margin-bottom: 5px;
	cursor: pointer;
}

#modal-form label {
	display: block;
	font-size: 16px;
	margin-bottom: 15px;
	margin-top: 20px;
}

#modal-form input[type="text"],
#modal-form select {
	width: 100%;
	height: 55px;
	box-sizing: border-box;
	padding: 12px;
	border: none;
	box-shadow:0px 4px 14px #00000017;
}

#category-select {
	margin-bottom: 40px;
}

/* IA */
.select-wrapper {
    position: relative;
}

.select-wrapper select {
    appearance: none;
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: none;
    box-shadow: 0px 4px 14px #00000017;
    box-sizing: border-box;
}

.select-wrapper i {
    position: absolute;
    right: 30px;
    top: 30%;
    transform: translateY(-50%);
    pointer-events: none;
}
/* IA */

#btn-validate {
    display: block;
    margin: 40px auto 0px;
	border: none;
	border-radius: 60px;
	padding: 12px 0px;
	color: white;
	font-family: 'Syne';
	font-size: 16px;
	width: 55%;	
	cursor: pointer;
}

#form-error {
	text-align: center;
	color: red;
}

